name: Build Augustus
on: 
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:  
  windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows 32-bit
            cache-key: mingw
            COMPILER: mingw-32
          - name: Windows 64-bit
            cache-key: mingw
            COMPILER: mingw-64
            SKIP_UPLOAD: true
          - name: Windows MSVC
            cache-key: msvc
            COMPILER: msvc
            SKIP_UPLOAD: true
    name: ${{ matrix.name }}
    runs-on: windows-latest
    env:
      SDL_VERSION: 2.0.16
      SDL_MIXER_VERSION: 2.0.4
      COMPILER: ${{ matrix.COMPILER }}
      SKIP_UPLOAD: ${{ matrix.SKIP_UPLOAD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: deps
          key: windows-${{ matrix.cache-key }}-${{ env.SDL_VERSION }}-${{ env.SDL_MIXER_VERSION }}
      - name: Set up environment
        run: ./.ci_scripts/install_sdl.ps1
      - name: Build and test
        run: ./.ci_scripts/run_build.ps1
      - name: Upload development artifacts
        env:
          UPLOAD_TOKEN: ${{ secrets.UPLOAD_TOKEN }}
        run: ./.ci_scripts/build_upload.ps1
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.name }}
          path: deploy\
      - uses: actions/setup-ruby@v1
      - name: Send Webhook Notification
        if: always()
        env:
          JOB_STATUS: ${{ job.status }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
          HOOK_OS_NAME: ${{ runner.os }}
          WORKFLOW_NAME: ${{ github.workflow }}
        run: |
          git clone https://github.com/DiscordHooks/github-actions-discord-webhook.git webhook
          bash webhook/send.sh $JOB_STATUS $WEBHOOK_URL
        shell: bash
